.profile-quickview {
    width: 100%;
}
/* 
.things {
    flex-wrap: wrap;flex-direction: column;width: 100%;
}

.thing2 {
    flex-wrap: wrap;flex-direction: column;width: 100%;
}

.thing4 {
    
    display: flex;
    width:  100%;
    justify-content: space-around;
    padding: 0;
    margin-bottom: 0;

} */

